{% extends "base.html" %}

{% block titulo %}
    <h1 class="w3-jumbo"><b>Respuestas</b></h1>
{% endblock %}


{% block content %}
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>Gráfica</h2>
                <hr>
                <div id="charts"></div>
                <div id="curve_chart" style="width: 500px;"></div>
            </div>
            <div class="col-md-6">
                    <h2>Formulas</h2>
                    <hr>
                    <p>Metodo: {{ metodo }}</p>
                    <p>Ecuación: Y = {{ rtas[0] }} + {{ rtas[1] }}X  + {{ rtas[2] }}X^2</p>
                    <p>Sy = {{ rtas[3] }}</p>
                    <p>Sy/x = {{ rtas[4] }}</p>
                    <p>r = {{ rtas[5] }}</p>
                    
                    <form method="POST" action="{{ url_for('irInicio') }}">
                        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" > Volver a ingresar puntos </button>   
                    </form>
                    
                </div>
        </div>
    </div>


    <script>

        var x = {{x|tojson|safe}}; 
        var y = {{y|tojson|safe}}; 
        var metodo = {{metodo}};
        var rta = {{ rtas }};
        //Saber cual metodo desea el usuario
        console.log(metodo);
        //Cambio el tipo de dato que me llega
        for(i in x){
            x[i] = parseFloat(x[i]);
        }
        for(i in y){
            y[i] = parseFloat(y[i]);
        }

        //Primera gráfica (Puntos)
        google.load('visualization','1.0',{'packages':['corechart']});
        google.setOnLoadCallback(dibujar);
        function dibujar(){
            var data = new google.visualization.DataTable();
            data.addColumn('number','x');
            data.addColumn('number','y');
            //Muestro los puntos en consola
            for(i in y){
                console.log("("+x[i]+","+y[i]+")");
            }   
            for (var i = 0; i < x.length; i++) {
                data.addRows(
                    [   
                        [x[i],y[i]]
                    ]
                );
            }
            

            var opciones = {'width':500,'heigth':300,title:'Gráfica puntos'};
            var grafica = new google.visualization.ScatterChart(document.getElementById('charts'));
            grafica.draw(data,opciones);
        }



        //Segunda gráfica
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        function funcion5(x){
            console.log("solución");
            var g = rta[0]+(rta[1]*(x))+(rta[2]*(x*x));
            console.log(g);;
            return g;
        }

        function drawChart() {
          
            var data = new google.visualization.DataTable();
            data.addColumn('number','x');
            data.addColumn('number','y');
            //Muestro los puntos en consola
            for (var i = 0; i < x.length; i++) {
                if(metodo == 5){
                    data.addRows(
                        [   
                        [x[i],funcion5(x[i])]
                        ]
                    );
                }
            }


          var options = {
            title: 'Gráfica función',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
    
    </script>

    
{% endblock %}
    

    
