{% extends "base.html" %}

{% block titulo %}
    <h1 class="w3-jumbo"><b>Respuestas</b></h1>
{% endblock %}


{% block content %}
    
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>Gráfica</h2>
                <hr>
                <div id="charts"></div>
                <div id="curve_chart" style="width: 500px;"></div>
            </div>
            <div class="col-md-6">
                    <h2>Formulas</h2>
                    <hr>
                    <p id="metodo"></p>
                    <br></br>
                    <p id="ecuacion"></p>
                    <p id="sy"></p>
                    <p id="syx"></p>
                    <p id=r></p>
                    
                    <form method="POST" action="{{ url_for('irInicio') }}">
                        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" > Volver a ingresar puntos </button>   
                    </form>
                    
                </div>
        </div>
    </div>


    <script>

        var x = {{x|tojson|safe}}; 
        var y = {{y|tojson|safe}}; 
        var metodo = {{metodo}};
        var rta = {{ rtas }};

        //Saber cual metodo desea el usuario
        console.log(metodo);

        //Cambio el tipo de dato que me llega
        for(i in x){
            x[i] = parseFloat(x[i]);
        }
        for(i in y){
            y[i] = parseFloat(y[i]);
        }

        //Funciones para gráficar

        function funcion1(x){
            var y = rta[0]+(rta[1]*x);
            return y;
        }

        function funcion2(x){
            var y = rta[5]*Math.pow(Math.E,(rta[6]*x));
            return y;
        }

        function funcion3(x){
            var y = rta[5]*Math.pow(x,rta[6]);
            return y;
        }

        function funcion4(x){
            var y = (rta[5]*x)/(rta[6]+x);
            return y;
        }

        function funcion5(x){
            var y = rta[0]+(rta[1]*(x))+(rta[2]*(x*x));
            return y;
        }

        function funcion6(x){
            var y = rta[0]+(rta[1]*(x))+(rta[2]*(x*x))+(rta[3]*(x*x*x));
            return y;
        }

        //Primera gráfica (Puntos)
        google.load('visualization','1.0',{'packages':['corechart']});
        google.setOnLoadCallback(dibujar);
        function dibujar(){
            var data = new google.visualization.DataTable();
            data.addColumn('number','x');
            data.addColumn('number','y');
            //Muestro los puntos en consola
            for(i in y){
                console.log("("+x[i]+","+y[i]+")");
            }   
            for (var i = 0; i < x.length; i++) {
                data.addRows(
                    [   
                        [x[i],y[i]]
                    ]
                );
            }
            
            var opciones = {'width':500,'heigth':300,title:'Gráfica puntos'};
            var grafica = new google.visualization.ScatterChart(document.getElementById('charts'));
            grafica.draw(data,opciones);
        }



        //Segunda gráfica (Función)
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        function drawChart() {
          
            var data = new google.visualization.DataTable();
            data.addColumn('number','x');
            data.addColumn('number','y');
            for (var i = 0; i < x.length; i++) {
                if(metodo == 1){
                    data.addRows(
                        [   
                        [x[i],funcion1(x[i])]
                        ]
                    );
                    document.getElementById("metodo").innerText = "Regresión lineal";
                    document.getElementById("ecuacion").innerText = "y= "+rta[0]+" + "+rta[1]+"x";
                    document.getElementById("sy").innerText="Sy= "+rta[2];
                    document.getElementById("syx").innerText="Sy/x= "+rta[3];
                    document.getElementById("r").innerText="R= "+rta[4];
                }else if(metodo == 2){
                    //Falta la función
                    data.addRows(
                        [   
                        [x[i],funcion2(x[i])]
                        ]
                    );
                    document.getElementById("metodo").innerText="Modelo exponencial";
                    document.getElementById("ecuacion").innerText = "y= "+rta[5]+"*e^("+rta[6]+"*x)";
                    document.getElementById("sy").innerText="Sy= "+rta[2];
                    document.getElementById("syx").innerText="Sy/x= "+rta[3];
                    document.getElementById("r").innerText="R= "+rta[4];
                }else if(metodo == 3){
                    data.addRows(
                        [   
                        [x[i],funcion3(x[i])]
                        ]
                    );
                    document.getElementById("metodo").innerText="Ecuación de potencias";
                    document.getElementById("ecuacion").innerText = "y= "+rta[5]+"* x^ "+rta[6];
                    document.getElementById("sy").innerText="Sy= "+rta[2];
                    document.getElementById("syx").innerText="Sy/x= "+rta[3];
                    document.getElementById("r").innerText="R= "+rta[4];
                    
                }else if(metodo == 4){
                    data.addRows(
                        [   
                        [x[i],funcion4(x[i])]
                        ]
                    );
                    document.getElementById("metodo").innerText = "Razón de crecimiento";
                    document.getElementById("ecuacion").innerText = "y= ("+rta[5]+"*x) / ("+rta[6]+"+x)";
                    document.getElementById("sy").innerText="Sy= "+rta[2];
                    document.getElementById("syx").innerText="Sy/x= "+rta[3];
                    document.getElementById("r").innerText="R= "+rta[4];
                }else if(metodo == 5){
                    data.addRows(
                        [   
                        [x[i],funcion5(x[i])]
                        ]
                    );
                    document.getElementById("metodo").innerText = "Regresión polinomial (Grado 2)";
                    document.getElementById("ecuacion").innerText = "y= "+rta[0]+" + "+rta[1]+"x + "+rta[2]+"x^2";
                    document.getElementById("sy").innerText="Sy= "+rta[3];
                    document.getElementById("syx").innerText="Sy/x= "+rta[4];
                    document.getElementById("r").innerText="R= "+rta[5];
                }else if(metodo == 6){
                    data.addRows(
                        [   
                        [x[i],funcion6(x[i])]
                        ]
                    );
                    document.getElementById("metodo").innerText = "Regresión polinomial (Grado 3)";
                    document.getElementById("ecuacion").innerText = "y= "+rta[0]+" + "+rta[1]+"x + "+rta[2]+"x^2 + "+rta[3]+"x^3";
                    document.getElementById("sy").innerText="Sy= "+rta[4];
                    document.getElementById("syx").innerText="Sy/x= "+rta[5];
                    document.getElementById("r").innerText="R= "+rta[6];
                }

            }


          var options = {
            title: 'Gráfica función',
            curveType: 'function',
            legend: { position: 'bottom' }
          };
  
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
          chart.draw(data, options);
        }
    
    </script>

    
{% endblock %}
    
